.form-control:focus {border-color:var(--primary)!important;
    -webkit-box-shadow: none!important;
        -moz-box-shadow: none!important;
        box-shadow: none!important;
    }
.form-input {
    display: inline-block;
    width: 100%;
    outline: none;
    height: 50px;
    padding: 10px 15px;
    border-radius: 0 !important;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.form-input:focus{
    border: 2px solid var(--primary) !important;
}