/* .info-box {
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.125), 0 1px 3px rgba(0, 0, 0, 0.2);
    border-radius: 0.25rem;
    background: #ffffff;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 1rem;
    min-height: 100px;
    padding: .5rem;
    position: relative;
    width: 100%;
}

.icon-container {
    border-radius: 0.25rem;
    -ms-flex-align: center;
    align-items: center;
    display: -ms-flexbox;
    display: flex;
    font-size: 1.875rem;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
    width: 70px;
    background-color: #E3342F;
}

.icon-container > i {
    color: white;
}

.info-box .info-box-content {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: center;
    justify-content: center;
    line-height: 120%;
    -ms-flex: 1;
    flex: 1;
    padding: 0 10px;
}

.dashboard_box_text {
font-weight: 600;
font-size: 20px;
}

.info-box .info-box-number {
display: block;
margin-top: .25rem;
font-weight: 500;
}

.dashboard_box_text-small {
font-weight: 500;
font-size: 17px;
} */

.dash-card {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all .3s ease;
    cursor: pointer;
}
.dash-card:hover {
    background-color: var(--primary);
    color: white;
}
.dash-icon > span {
    font-size: 60px;
}