*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary: #ED1C24;
}

.title-fm {
    font-size: 22px !important;
}

.content-fm{
    font-size: 18px !important;
}

.red-btn {
    box-sizing: border-box !important;
    text-decoration: none;
    border: none;
    padding: 10px 14px;
    border-radius: 8px;
    background-color: var(--primary);
    color: white;
}
