.std-box-shadow{
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.user-profile-card{
    border-radius: 6px;
    cursor: pointer;
    transition: all .3s ease;
    background-color: var(--primary);
    color: white;
    border-radius: 8px;
}
/* .user-profile-card:hover{
    background-color: var(--primary);
    color: white;
} */
.user-profile-card:hover .profile-img-container img{
    transform: scale(1.1);
}
.user-profile-card .profile-img-container{
    width: 100%;
    overflow: hidden;
    /* border-radius: 8px; */
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}
.user-profile-card .profile-img-container img{
    width: 100%;
    height: auto;
    /* border-radius: 8px; */
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    transition: all .3s ease;
}

.user-profile-card .content{
    font-family: Roboto,Arial,Helvetica,sans-serif;
}

